<!doctype html>
<html>
<head>
<title>PouchDB Test</title>
	<script src="//cdn.jsdelivr.net/pouchdb/6.1.0/pouchdb.min.js"></script>
    <link href="/css/global.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>	
</head>
<body ng-app="pouchdbMD">
	<div ng-controller="ActionListCT as actionListCT">
		<md-button>Pull</md-button>
	</div>
	<script src="/js/global.js"></script>
</body>
</html>
